br.mo {
  display: none;
  @include m320 {
    display: block;
  }
}

.t-fx {
  @include flex-box;
  align-items: center;
  & > div {
    font-size: 27px;
    font-weight: bold;
    line-height: 32px;
    margin-left: 8px;
    opacity: 0;
    &.active {
      animation: von 1s ease;
      animation-fill-mode: forwards;
    }
  }
}
.h2 {
  font-size: 27px;
    font-weight: bold;
    line-height: 32px;
}
.svg1 {
  padding: 1px;
  overflow: visible;
  .cls-2 {
    fill: none;
  }
  &.active {
    polyline[class*='cls-2']{
      stroke:#222;
      stroke-miterlimit:10;  
      stroke-dasharray: 300;
      stroke-dashoffset: 300;
      animation: dash 6s 1s ease-in-out;
      stroke-linejoin: round;
      stroke-width: 2;
      stroke-linecap: round;
      animation-fill-mode: forwards;
    }
  }
}
.svg2 {
  padding: 1px;
  overflow: visible;
  margin-top: -2px;
  .cls-3 {
    fill: none;
  }
  &.active {
    path[class*='cls-3']{
      stroke:#222;
      stroke-miterlimit:10;  
      stroke-dasharray: 300;
      stroke-dashoffset: 300;
      animation-delay: 5s;
      animation: dash 6s 2s ease-in-out;
      stroke-linejoin: round;
      stroke-width: 1.5;
      stroke-linecap: round;
      animation-fill-mode: forwards;
    }
  }
  & + .active {
    animation-delay: 2s;
  }
}
.svg3 {
  padding: 1px;
  overflow: visible;
  margin-top: -2px;
  .cls-4 {
    fill: none;
  }
  &.active {
    path[class*='cls-4']{
      stroke:#222;
      stroke-miterlimit:10;  
      stroke-dasharray: 300;
      stroke-dashoffset: 300;
      animation-delay: 5s;
      animation: dash 6s 2.5s ease-in-out;
      stroke-linejoin: round;
      stroke-width: 1.5;
      stroke-linecap: round;
      animation-fill-mode: forwards;
    }
  }
  & + .active {
    animation-delay: 4s;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset:300;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash2 {
  from {
    stroke-dashoffset: -300;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes von{
  0% {
    opacity: 0;
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

html,body {
  color: #222;
  -webkit-font-smoothing: antialiased;
  height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;
    margin:0;
    padding:0;
    /* required to prevent rogue scrollbars */
    overflow: hidden;
    /* cosmetic stuff: */
    // background-color:#5AE;
}
.wrap {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:0;
  margin:0;
/* if you want the content to scroll normally: */
overflow-y: auto;
overflow-x: hidden;
  /* cosmetic stuff: */
  // background-color:#AEA;
  // border: #6B6 1em solid;
  box-sizing:border-box;
}

.btn {
  margin-top: -3px;
  font-size: 16px;
  line-height: 24px;
  height: 26px;
  border-radius: 4px;
  padding: 2px 6px 0;
  background-color: #222;
  color: #fff;
  &.btn-copy {
    padding-left: 20px;
    background:#222 url(../img/ico-copy.png) no-repeat 5px 50%;
    background-size: 12px auto;
    font-size: 14px;
  }
}
.layout{
    position: relative;
    height:100vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
    min-height: 496px;
    @include pc {
      min-height: 650px;
    }
}
/* leaf animations */
.spot {
  position: relative;
  width: 100%;
    // min-height: 600px;
    // @include pc {
    //     min-height: 1400px;
    // }
    height: 100vh;
    // padding-bottom: 500px;
    // margin-bottom: -500px;
    .center {
        height: 100%;
        min-width: 320px;
        max-width: 375px;
        @include flex-box;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        z-index: 0;
        @include pc {
            width: 100%;
            max-width: 750px;
        }
        @include mobile(320) {
            width: 280px;
            min-width: 280px;
        }
        .text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            font-size: 18px;
            padding-top: 200px;
            margin-top: -30px;
            background: url(../img/main.jpg) no-repeat 50% 0;
            background-size: auto 200px;
            @include pc {
                padding-top: 300px;
                background: url(../img/main.jpg) no-repeat 50% 0;
                background-size: auto 300px;
                font-size: 24px;
            }
            @include mobile(320) {
                padding-top: 140px;
                background: url(../img/main.jpg) no-repeat 50% 0;
                background-size: auto 140px;
            }
            .mySwiper3 {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%,-50%);
              width: 36px;
              height: 36px;
              overflow: hidden;
              .swiper-wrapper,.swiper-slide {
                width: 36px;
                height: 36px;
              }
              .swiper-slide{
                  @for $i from 1 to 7 {
                    &.slide-#{$i} {
                      @include get-sprite(emoji#{$i}, $sp_wedding,(extend:false, get-image:true));
                    }
                  }
              }
            }
        }
    }
    .name-box {
      width:100%;
      max-width: 240px;
      margin: -18px auto 0;
      position: relative;
      height: 150px;
      img {
        width: 100%;
      }
      @include pc {
          margin-top: -24px;
          max-width: 380px;
      }
      @include mobile(320) {
          max-width: 170px;
          margin-bottom: 32px;
      }
      .name-l {
        position: absolute;
        left: 0;
        width: 100px;
        @include pc {
          width: 140px;
        }
        @include m320 {
          width: 86px;
        }
      }
      .name-k {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 164px;
        @include pc {
          width: 230px;
        }
        @include m320 {
          width: 140px;
        }
      }
    }
    .spot-bottom {
      position: absolute;
      bottom: 60px;
      .time {
        font-weight: 800;
        margin-bottom: 2px;
        font-size: 16px;
        letter-spacing: 1px;
        .lite {
          font-weight: 600;
        }
      }
      .map {
        font-weight: 600;
        letter-spacing: -1.5px;
        font-size: 16px;
      }
      @include pc {
        bottom: 80px;
        .time,.map {
          font-size: 20px;
        }
      }
    }
    .a-top2 {
        opacity: 1;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        bottom: -48px;
        width: 50px;
        height: 50px;
        @include pc {
          width: 60px;
          height: 60px;
          margin-left: -30px;
          bottom: -65px;
        }
        .arrow {
          border: 1px solid #222;  
          border-width: 0px 0px 2px 2px;
          width: 12px;
          height: 12px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%) rotate(-45deg);
          opacity: 0;
          &-first {
            animation: arrow 2s ease-in-out infinite;
          }
          &-second {
            animation: arrow 2s 1s ease-in-out infinite;
          }
          @include pc {
            width: 16px;
            height: 16px;
            border-width: 0px 0px 3px 3px;
          }
        }
        @keyframes arrow {
          0% {
            opacity: 0;
            top: 30%;
          }

          70% {
            opacity: 1;
            top: 50%;
          }

          100% {
            opacity: 0;
            top: 60%;
          }
        }
    }
}




#leaves {position:absolute;top:-100px; right: 0; z-index: 0;
    transform:  scale(2);;
    width: 100%;
 @include pc {
    transform:  scale(3);;
 }
}

#leaves i {
    position: absolute;
    left: 50%;
    display: inline-block;
    transform: skew(20deg);
    z-index: 1;
    @include m320 {
      width: 3px !important;
      height: 6px !important;
    }
    @include pc {
      width: 7px !important;
      height: 14px !important;
    }
}

#leaves i:nth-of-type(n) { animation: falling 7s 0s infinite; }
#leaves i:nth-of-type(2n) { animation: falling2 12s 1s infinite; }
#leaves i:nth-of-type(3n) { animation: falling3 10s 2s infinite; }
#leaves i:nth-of-type(4n) { animation: falling4 8s 0s infinite; }
#leaves i:nth-of-type(5n) { animation: fallin5 7s 1s infinite; }
#leaves i:nth-of-type(6n) { animation: falling5 6s 2s infinite; }
#leaves i:nth-of-type(8n) { animation: falling4 14s 3s infinite; }
#leaves i:nth-of-type(9n) { animation: falling3 10s 0s infinite; }
#leaves i:nth-of-type(10n) { animation: falling 7s 0s infinite; }
#leaves i:nth-of-type(11n) { animation: falling5 14s 0s infinite; }
#leaves i:nth-of-type(12n) { animation: falling3 7s 0s infinite; }
#leaves i:nth-of-type(13n) { animation: falling4 8s 0s infinite; }
#leaves i:nth-of-type(14n) { animation: falling 14s 1s infinite; }
#leaves i:nth-of-type(15n) { animation: falling5 6s 1s infinite; }
#leaves i:nth-of-type(16n) { animation: falling4 8s 1s infinite; }
#leaves i:nth-of-type(17n) { animation: falling2 10s 0s infinite; }


#leaves i:nth-of-type(n)    { height:5px; width:10px; background: #ff4d4d;}
#leaves i:nth-of-type(2n)    { height:5px; width:10px; background: #54b547;}
#leaves i:nth-of-type(3n)  { height:5px; width:10px; background: #ffd44d;}
#leaves i:nth-of-type(4n)  { height:5px; width:10px; background: #4d9aff;}
#leaves i:nth-of-type(5n)    { height:5px; width:10px; background: #e75656;}
#leaves i:nth-of-type(6n)    { height:5px; width:10px; background: #18b818;}
#leaves i:nth-of-type(7n)  { height:5px; width:10px; background: #4d9aff;}
#leaves i:nth-of-type(8n)  { height:5px; width:10px; background: #ffd44d;}
#leaves i:nth-of-type(9n)    { height:5px; width:10px; background: #ff4d4d;}
#leaves i:nth-of-type(10n)  { height:5px; width:10px; background: #ffd44d;}
#leaves i:nth-of-type(11n)  { height:5px; width:10px; background: #67b35d;}
#leaves i:nth-of-type(22n)  { height:5px; width:10px; background: #2b808b;}
#leaves i:nth-of-type(12n)    { height:5px; width:10px; background: #ff4d4d;}
#leaves i:nth-of-type(13n)  { height:5px; width:10px; background: #4d9aff;}
#leaves i:nth-of-type(n)   { animation-delay: 1s;}
#leaves i:nth-of-type(2n)  { animation-delay: 2.9s;}
#leaves i:nth-of-type(3n)  { animation-delay: 1.3s;}
#leaves i:nth-of-type(4n)  { animation-delay: 3.4s;}
#leaves i:nth-of-type(5n)  { animation-delay: 4s;  }
#leaves i:nth-of-type(6n)  { animation-delay: 2.5s;}
#leaves i:nth-of-type(7n)  { animation-delay: 1.8s;}
#leaves i:nth-of-type(8n)  { animation-delay: 0.5s;}
#leaves i:nth-of-type(9n)  { animation-delay: 2.3s;}
#leaves i:nth-of-type(10n) { animation-delay: 1.5s;}
#leaves i:nth-of-type(11n) { animation-delay: 0.2s;}
#leaves i:nth-of-type(12n) { animation-delay: 3.1s;}
#leaves i:nth-of-type(13n) { animation-delay: 0;  }
#leaves i:nth-of-type(14n) { animation-delay: 3.7s;}
#leaves i:nth-of-type(15n) { animation-delay: 2s;  }
#leaves i:nth-of-type(n)    { opacity: 1;}
#leaves i:nth-of-type(3n+1)  { opacity: 1;}
#leaves i:nth-of-type(3n+2)  { opacity: 1;}

#leaves i:nth-of-type(n)    {transform: rotate(180deg);}


#leaves i:nth-of-type(n) { animation-timing-function:ease-in-out;}

@keyframes falling {
    
    0% {
        -webkit-transform:
            translate3d(0vw,0,0)
            rotate(0deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-30vw,100vh,0)
            rotate(90deg);
    }
}
@keyframes falling5 {
  0% {
     -webkit-transform:
         translate3d(10vw,0,0)
         rotate(-10deg);
 }
 
 100% {
     -webkit-transform:
         translate3d(-15vw,100vh,0)
         rotate(-290deg);
 }
}
@keyframes falling4 {
  0% {
     -webkit-transform:
         translate3d(-40vw,0,0)
         rotate(-20deg);
 }
 
 100% {
     -webkit-transform:
         translate3d(20vw,100vh,0)
         rotate(-190deg);
 }
}

@keyframes falling3 {
     0% {
        -webkit-transform:
            translate3d(10vw,0,0)
            rotate(-20deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-30vw,100vh,0)
            rotate(-70deg);
    }
}

@keyframes falling2 {
     0% {
        -webkit-transform:
            translate3d(0vw,0,0)
            rotate(90deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-20vw,100vh,0)
            rotate(0deg);
    }
}
.marquee_wrap {
  white-space: nowrap;
  font-size: calc(8vw);
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  border-width: 1px 0 1px 0;
  position: relative;
  height: 8.5vw;
  padding-left: 30px;
  @include pc {
    height: 8vw;
  }
}
.font-mont {
  font-family: 'Montserrat','serif' !important;
}
// .marquee_box { will-change: transform; animation: marquee 10s linear infinite; font-weight: 900; padding: 8px 20px 5px; }
.marquee_text {
  top: 50%;
  transform: translateY(-50%);
  line-height: 1.2rem;
  font-family: 'Montserrat';
  position: absolute;
  color: #fff;
  text-shadow:
  -1px -1px 0 #222,
  1px -1px 0 #222,
  -1px 1px 0 #222,
  1px 1px 0 #222; 
  font-weight: 900;
}
// .box1 { background:black; width: 100vw; color: #fff; }
// .box2 { background:black; width: 100vw; color: #fff}

// @keyframes marquee {
//   from { transform: translateZ(0) }
//   to { transform: translate3d(-100%,0,0) }
// }

.letter-box {
  position: relative;
  img {
    width: 20px;
    height: 20px;  
  }
}


.inner {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 10px;
}
.sec-photo {
  border-top: 1px solid #222;
  padding-top: 140px;
  padding-bottom: 140px;
  h2 {
    padding-bottom: 5px;
  }
}
.mySwiper2 {
  height: 100%;;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  .swiper-wrapper {
    width: 100%;
    height: auto;
  }
  .swiper-slide {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      width: 100%;
      height: auto;
    }
  }
  &.active {
    animation: von 1s ease-in-out;
    animation-fill-mode: forwards;
  }
}
.mySwiper {
  margin-top: 5px;
  .swiper-wrapper {
    transform: none !important;
    width: 100%;
    @include flex-box;
    justify-content: space-between;
    .swiper-slide {
      opacity: 0;
      flex: 1 1 auto;
      cursor: pointer;
      position: relative;
      height: 50px;
      overflow: hidden;
      // background-color: rgb(241, 241, 241);
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: auto;
      }
      &:last-child {
        margin-right: 0 !important;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      &.swiper-slide-thumb-active {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-top: 4px solid #222;
          border-bottom: 4px solid #222000;
        }
      }
      &:not(.swiper-slide-thumb-active) {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: #fff;
          z-index: 10;
          opacity: .5;
        }
      }
      &.img-h {
        img {
          height: 100%;
          width: auto;
        }
      }
      @include pc {
        height: 70px;
      }
    }
  }
  &.active {
    @for $i from 1 to 8 {
      .slide-#{$i} {
        animation: von 1s $i*0.1s ease-in-out;
        animation-fill-mode: forwards;
      }
    }
  }
}
.sec-p {
  padding-top: 20vw;
  padding-bottom: 11.5vw;
  text-align: center;
  @include pc {
    padding-top: 10vw;
  }
  .sec-pp {
    font-size: 16px;
    line-height: 32px;
    padding: 100px 0 20px;
    // font-family: 'Gowun Batang', serif !important;
    opacity: 0;
    &.active {
      animation: von 1s ease-in-out;
      animation-fill-mode: forwards;
      & + .sign-box {
        margin-top: 40px;
      .sign-l::before {
        animation: width 1s 2s ease;
        animation-fill-mode: forwards;
      }
      .sign-k::before {
        animation: width 1s 3s ease;
        animation-fill-mode: forwards;
      }
      }
    }
    @include pc {
      padding: 40px 0;
    }
    & + .sec-pp {
      padding: 0 0 40px;
    }
    @include m320 {
      font-size: 15px;
    }
  }
  .sign-box {
    opacity: 1;
    padding-bottom: 100px;
    @keyframes width {
      0% {
        width: 100%;
      }
      100% {
        width: 0;
      }
    }
  }
  .name-box {
    // font-family: 'Gowun Batang', serif !important;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      display: inline-block;
      line-height: 30px;
      margin-right: 12px;
    }
 
    div[class*='sign']{
      width: 90px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
      } 
      img {
        display: inline-block;
        vertical-align: top;
        width: 100%;
      }
    }
    .sign-l {
      width: 110px;
    }
    .sign-k {
      width: 110px;
    }
    &.active {
      animation: von 1s ease;
    }
  }
}
.toast {
  position: fixed;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  display: none;
  color: #fff;
  // bottom: 50px;
  line-height: 40px;
  padding: 3px 24px 0;
  border-radius: 21px;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
  background-color: rgba(94, 94, 94, 0.8);
}

.sec-cal {
  border-top:  1px solid #222;
  padding: 80px 20px 0;
  h2 {
    padding-right: 20px;
    text-align: right;
    margin-bottom: 80px;
    font-weight: 300;
    color: #222;
    &>span {
      display: inline-block;
      font-weight: 200;
      font-size: 50px;
      font-family: 'Montserrat','serif' !important;
      opacity: 0;
      color: #222;
    }
    .tl-2 {
      letter-spacing: -1.5px;
    }
    &.active {
      @for $i from 1 to 6 {
        .tl-#{$i} {
          animation: von .5s $i*.2s ease-in-out; 
          animation-fill-mode: forwards;
        }
      }
    }
  }
  .cal-box {
    width: 100%;
    position: relative;
    padding-bottom: 80px;
    overflow: hidden;
    .ball {
      opacity: 0;
      position: absolute;
      mix-blend-mode: difference;
      width: 11%;
      height: 11%;
      &.active {
        opacity: 0;
        animation: ball 3s .5s ease-in-out;
        animation-fill-mode: forwards;
        @keyframes ball {
          0% {
            opacity: 0;
            bottom: 100%;
            right: 100%;
          }
          100% {
            opacity: 1;
            bottom: 95px;
            right: 2.2%;
            transform: translateY(-50%);
          }
        }
      }
      @include pc {
        &.active {
          animation: ball2 3s 1s ease-in-out;
          animation-fill-mode: forwards;
          @keyframes ball2 {
            0% {
              opacity: 0;
              bottom: 100%;
              right: 100%;
            }
            100% {
              opacity: 1;
              bottom: 118px;
              right: 13px;
            }
          }
        }
      }
    }
    img {
      width: 100%;
      padding-bottom: 40px;
    }
    i[class*='bl-']{
      top: 0;
      position: absolute;
      width: 1px;
      background-color: #222;
      @include pc {
        width: 2px;
      }
    }
    @for $i from 1 to 7 {
      .bl-#{$i} {
        left: $i*14.1%;
      }
    }
    .april {
      position: absolute;
      bottom: 0;
      right: 20px;
      font-size: 40px;
    }
  }
}
.sec-map {
  border-top: 1px solid #222;
  padding-top: 160px;
  padding-bottom: 120px;
  .map-box {
    .mini {
      display: block;
      font-size: 14px;
      letter-spacing: 0;
      margin-bottom: 8px;
      font-weight: bold;
    }
    h2 {
      font-size: 40px;
      line-height: 34px;
      margin-bottom: 20px;
      letter-spacing: -3px;
      font-weight: 300;;
      @include m320 {
        font-size: 37px;
      }
      .gray {
        color: #222;
      }
    }
    .floor {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 40px;
    }
    strong {
      display: block;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 8px;
      margin-left: -2px;
    }
   
  }
  .map {
    margin-top: 80px;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(245, 245, 245);
    .map1 {
      width: 100%;
      height: auto;
      vertical-align: top;
      display: inline-block;
    }
    .map2 {
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height: auto;
      z-index: 0;
      background-color: rgb(245, 245, 245);
      animation: opacity 2s ease infinite;
      @keyframes opacity {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
   
  }
  .link-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include pc {
      flex-wrap : wrap;
      justify-content: space-between;
    }
    .btn-map {
      padding: 20px 0;
      // @include pc {
        flex: 0 0 33.3333%;
      // }
      // & + a {
        // margin-top: 2px;
        // @include pc {
          // margin-top: 0
        // }
      // }
      @include m320 {
        flex: 0 0 100%;
        & + a {
          margin-top: 2px;
        }
      }
    }
    .address {
      height: 40px;
      flex: 1 0 100%;
      text-align: center;
      background-color: #222;
      color: #fff;
      margin-bottom: 2px;
      @include flex-box;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      & > div {
        padding-right: 20px;
        background:#222 url(../img/ico-copy.png) no-repeat 100% 20%;
        background-size: 14px auto;
      }
    }
    .link-naver {
      background:#222 url(../img/map-n.png) no-repeat 50% 50%;
      background-size: auto 20px;
    }
    .link-kakao {
      background:#222 url(../img/map-k.png) no-repeat 50% 50%;
      background-size: auto 20px;
    }
    .link-tmap {
      background:#222 url(../img/map-t.png) no-repeat 50% 50%;
      background-size: auto 20px;
    }
    @include m320 {
      .link-naver {
        background-size: auto 24px;
      }
      .link-kakao {
        background-size: auto 24px;
      }
      .link-tmap {
        background-size: auto 24px;
      }
    }
    a {
      display: block;
      height: 26px;
    }
  }
}
.sec-info {
  border-top: 1px solid #222;
  padding-top: 150px;
  & > p {
    font-size: 17px;
    line-height: 23px;
  }
  h2 {
    margin-bottom: 20px;
  }
  .b-box {
    margin-top: 5px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

.b-t {
  font-weight: bold;
  font-size: 13px;
  color: rgb(182, 182, 182);
  letter-spacing: 0.5px;
  margin-bottom: 6px;
}





//accordion

.accwrap {
  position: relative;
  height: 300px;
  .accbox {
    // background-color: #fff;
    // box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.5);
    // border-radius: 6px;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    .acc {
      border-radius: 6px;
      box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.5);
      background-color: #fff;
    }
    .acc2 {
      margin-top: 12px;
    }
  }
}
.acchead {
  border: 1px solid #222;
  background-color: #222;
  font-size: 15px;
  padding: 10px 20px;
  width: 100%;
  color: #fff;
  border-radius: 6px;
  transition: border-radius 0.3s 0.5s ease ;
  &.active {
    transition: border-radius 0s ease ;
    border-radius: 6px 6px 0 0;
    .arrow {
      transform: rotate(180deg);
      transition: transform 0.5s ease;
    }
  }
  & + .accbody {
    margin-top: -.5px;
    background: rgb(34,34,34);
    background: -moz-linear-gradient(180deg, #222 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, #222 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, #222 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222222",endColorstr="#ffffff",GradientType=1);
    overflow: hidden;
    box-sizing: border-box;
    height: 0;
    transition: height .5s ease-in;
    border-radius: 0 0 6px 6px;
    .inner {
      padding: 20px;
      animation: accordionOut 0.45s alternate ease-in-out both 1;

      .b-t {
        color: #444;
      }
      .b-box {
        @include flex-box;
        align-items: center;
        &.bd-ddd {
          border-bottom: 1px solid #ddd;
        }
      }
    }
  }
  &.active + .accbody {
    height: 180px;
    transition: height .5s ease-out;
    .inner {
      animation: accordionIn 0.45s normal ease-in-out both 1; 
    }
  }
  @include flex-box;
  align-items: center;
  justify-content: space-between;
  .tt {
    display: block;
    font-weight: bold;
    color: #fff;
    margin-bottom: -4px;
  }
  .arrow {
    width: 30px;
    height: 30px;
    display: block;
    background: url(../img/arrow-round.png) no-repeat 50% 50%;
    background-size: 30px 30px;
    transition: transform 0.5s ease;
  }
}

.animateIn {
     animation: accordionIn 0.45s normal ease-in-out both 1; 
}
.animateOut {
     animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}
@keyframes height {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes accordionOut {
    0% {
       opacity: 1;
       transform:scale(1);
     }
     100% {
          opacity:0;
           transform:scale(0.9) rotateX(-60deg);
       }
}


h3 {
  font-size: 14px;
  color: rgb(156, 156, 156);
  margin: 50px 0 10px;
}

.btn-pay {
  display: block;
  width: 55px;
  height: 26px;
  border-radius: 4px;
  margin-top: -3px;
  background:#fde000 url(../img/btn-pay.png) no-repeat 50% 50%;
  background-size: 60px auto;
}
.ml-5 {
  margin-left: 5px !important;
}

.footer {
  position: relative;
  background-color: rgb(29, 29, 29);
  padding:60px 0 40px;
  &::after {
    position: absolute;
    content: '';
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 80px;
    background: url(../img/conf.png) no-repeat 50% 0;
    background-size: 800px 50px;
  }
  .fx-box {
    @include flex-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      font-size: 14px;
      color: #fff;
      & + button {
        margin-top: 8px;
      }
    }
  }
}