@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Gowun+Batang:wght@400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html {
	overflow-y: hidden;
}

body, html {
	overflow-x: hidden;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, form, fieldset, legend, textarea, input, select, textarea, button {
	margin: 0;
	padding: 0;
}

body, input, select, textarea, button {
	color: #222;
	font-family: 'Gothic A1','NanumSquare',dotum, arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: -1px;
	-webkit-appearance: none;
	appearance: none;
}

img {
	border: 0;
	vertical-align: top;
}

ul, ol, li {
	list-style: none;
}

em, address {
	font-style: normal;
}

strong, em, address {
	font-weight: 400;
}

a {
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

button,
input {
	border: none;
	background: none;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

select, textarea {
	border: 0;
	outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

html, body {
	height: 100%;
	min-height: 100%;
}

.blind {
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	height: 1px;
	border: 0;
	padding: 0;
	clip: rect(0px, 0px, 0px, 0px);
}

/* border-radius */
@keyframes von {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

.ani {
	opacity: 0;
}

.ani.active {
	opacity: 1;
	animation-fill-mode: forwards;
}

html, body {
	color: #222;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	width: 100%;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	/* required to prevent rogue scrollbars */
	overflow: hidden;
	/* cosmetic stuff: */
}

.wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	/* if you want the content to scroll normally: */
	overflow-y: auto;
	overflow-x: hidden;
	/* cosmetic stuff: */
	box-sizing: border-box;
}

.btn {
	margin-top: -4px;
	font-size: 16px;
	line-height: 24px;
	border-radius: 4px;
	padding: 2px 6px 0;
	background-color: #222;
	color: #fff;
}

.btn.btn-copy {
	padding-left: 20px;
	background: #222 url(../img/ico-copy.png) no-repeat 5px 50%;
	background-size: 12px auto;
}

.layout {
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	text-align: center;
	min-height: 496px;
}

@media (min-width: 1024px) {
	.layout {
		min-height: 650px;
	}
}

/* leaf animations */
.spot {
	height: 100vh;
}

.spot .center {
	height: 100%;
	min-width: 320px;
	max-width: 375px;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-box;
	display: -webkit-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	position: relative;
	z-index: 0;
}

@media (min-width: 1024px) {
	.spot .center {
		width: 100%;
		max-width: 750px;
	}
}

@media (max-width: 320px) {
	.spot .center {
		width: 280px;
		min-width: 280px;
	}
}

.spot .center .text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	font-size: 18px;
	padding-top: 200px;
	margin-top: -30px;
	background: url(../img/main.jpg) no-repeat 50% 0;
	background-size: auto 200px;
}

@media (min-width: 1024px) {
	.spot .center .text {
		padding-top: 300px;
		background: url(../img/main.jpg) no-repeat 50% 0;
		background-size: auto 300px;
		font-size: 24px;
	}
}

@media (max-width: 320px) {
	.spot .center .text {
		padding-top: 140px;
		background: url(../img/main.jpg) no-repeat 50% 0;
		background-size: auto 140px;
	}
}

.spot .center .text .mySwiper3 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 36px;
	height: 36px;
	overflow: hidden;
}

.spot .center .text .mySwiper3 .swiper-wrapper, .spot .center .text .mySwiper3 .swiper-slide {
	width: 36px;
	height: 36px;
}

.spot .center .text .mySwiper3 .swiper-slide.slide-1 {
	background-image: url(../img/sp_wedding.png);
	-webkit-background-size: 112px 74px;
	background-size: 112px 74px;
	background-position: 0px 0px;
	width: 36px;
	height: 36px;
}

.spot .center .text .mySwiper3 .swiper-slide.slide-2 {
	background-image: url(../img/sp_wedding.png);
	-webkit-background-size: 112px 74px;
	background-size: 112px 74px;
	background-position: -38px 0px;
	width: 36px;
	height: 36px;
}

.spot .center .text .mySwiper3 .swiper-slide.slide-3 {
	background-image: url(../img/sp_wedding.png);
	-webkit-background-size: 112px 74px;
	background-size: 112px 74px;
	background-position: 0px -38px;
	width: 36px;
	height: 36px;
}

.spot .center .text .mySwiper3 .swiper-slide.slide-4 {
	background-image: url(../img/sp_wedding.png);
	-webkit-background-size: 112px 74px;
	background-size: 112px 74px;
	background-position: -38px -38px;
	width: 36px;
	height: 36px;
}

.spot .center .text .mySwiper3 .swiper-slide.slide-5 {
	background-image: url(../img/sp_wedding.png);
	-webkit-background-size: 112px 74px;
	background-size: 112px 74px;
	background-position: -76px 0px;
	width: 36px;
	height: 36px;
}

.spot .center .text .mySwiper3 .swiper-slide.slide-6 {
	background-image: url(../img/sp_wedding.png);
	-webkit-background-size: 112px 74px;
	background-size: 112px 74px;
	background-position: -76px -38px;
	width: 36px;
	height: 36px;
}

.spot .name-box {
	width: 100%;
	max-width: 240px;
	margin: -18px auto 0;
	position: relative;
	height: 150px;
}

.spot .name-box img {
	width: 100%;
}

@media (min-width: 1024px) {
	.spot .name-box {
		margin-top: -24px;
		max-width: 380px;
	}
}

@media (max-width: 320px) {
	.spot .name-box {
		max-width: 170px;
		margin-bottom: 32px;
	}
}

.spot .name-box .name-l {
	position: absolute;
	left: 0;
	width: 100px;
}

@media (min-width: 1024px) {
	.spot .name-box .name-l {
		width: 140px;
	}
}

.spot .name-box .name-k {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 164px;
}

@media (min-width: 1024px) {
	.spot .name-box .name-k {
		width: 230px;
	}
}

.spot .spot-bottom {
	position: absolute;
	bottom: 60px;
}

.spot .spot-bottom .time {
	font-weight: 800;
	margin-bottom: 2px;
	font-size: 16px;
	letter-spacing: 1px;
}

.spot .spot-bottom .time .lite {
	font-weight: 600;
}

.spot .spot-bottom .map {
	font-weight: 600;
	letter-spacing: -1.5px;
	font-size: 16px;
}

@media (min-width: 1024px) {
	.spot .spot-bottom {
		bottom: 80px;
	}
	.spot .spot-bottom .time, .spot .spot-bottom .map {
		font-size: 20px;
	}
}

.spot .a-top2 {
	opacity: 1;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	bottom: -48px;
	width: 50px;
	height: 50px;
}

@media (min-width: 1024px) {
	.spot .a-top2 {
		width: 60px;
		height: 60px;
		margin-left: -30px;
		bottom: -65px;
	}
}

.spot .a-top2 .arrow {
	border: 1px solid #222;
	border-width: 0px 0px 2px 2px;
	width: 12px;
	height: 12px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	opacity: 0;
}

.spot .a-top2 .arrow-first {
	animation: arrow 2s ease-in-out infinite;
}

.spot .a-top2 .arrow-second {
	animation: arrow 2s 1s ease-in-out infinite;
}

@media (min-width: 1024px) {
	.spot .a-top2 .arrow {
		width: 16px;
		height: 16px;
		border-width: 0px 0px 3px 3px;
	}
}

@keyframes arrow {
	0% {
		opacity: 0;
		top: 30%;
	}
	70% {
		opacity: 1;
		top: 50%;
	}
	100% {
		opacity: 0;
		top: 60%;
	}
}

#leaves {
	position: absolute;
	top: -100px;
	right: 0;
	z-index: 0;
	transform: scale(2);
}

@media (min-width: 1024px) {
	#leaves {
		transform: scale(3);
	}
}

#leaves i {
	display: inline-block;
	transform: skew(20deg);
	z-index: 1;
	-webkit-animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n) {
	-webkit-animation: falling2 5s 0s infinite;
}

#leaves i:nth-of-type(3n) {
	-webkit-animation: falling3 5s 0s infinite;
}

#leaves i:nth-of-type(n) {
	height: 7px;
	width: 14px;
	background: #ff4d4d;
}

#leaves i:nth-of-type(2n+1) {
	height: 7px;
	width: 14px;
	background: #54b547;
}

#leaves i:nth-of-type(3n+2) {
	height: 7px;
	width: 14px;
	background: #ffd44d;
}

#leaves i:nth-of-type(n) {
	-webkit-animation-delay: 1.9s;
}

#leaves i:nth-of-type(2n) {
	-webkit-animation-delay: 3.9s;
}

#leaves i:nth-of-type(3n) {
	-webkit-animation-delay: 2.3s;
}

#leaves i:nth-of-type(4n) {
	-webkit-animation-delay: 4.4s;
}

#leaves i:nth-of-type(5n) {
	-webkit-animation-delay: 5s;
}

#leaves i:nth-of-type(6n) {
	-webkit-animation-delay: 3.5s;
}

#leaves i:nth-of-type(7n) {
	-webkit-animation-delay: 2.8s;
}

#leaves i:nth-of-type(8n) {
	-webkit-animation-delay: 1.5s;
}

#leaves i:nth-of-type(9n) {
	-webkit-animation-delay: 3.3s;
}

#leaves i:nth-of-type(10n) {
	-webkit-animation-delay: 2.5s;
}

#leaves i:nth-of-type(11n) {
	-webkit-animation-delay: 1.2s;
}

#leaves i:nth-of-type(12n) {
	-webkit-animation-delay: 4.1s;
}

#leaves i:nth-of-type(13n) {
	-webkit-animation-delay: 1s;
}

#leaves i:nth-of-type(14n) {
	-webkit-animation-delay: 4.7s;
}

#leaves i:nth-of-type(15n) {
	-webkit-animation-delay: 3s;
}

#leaves i:nth-of-type(n) {
	opacity: 1;
}

#leaves i:nth-of-type(3n+1) {
	opacity: 1;
}

#leaves i:nth-of-type(3n+2) {
	opacity: 1;
}

#leaves i:nth-of-type(n) {
	transform: rotate(180deg);
}

#leaves i:nth-of-type(n) {
	-webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes falling {
	0% {
		-webkit-transform: translate3d(300, 0, 0) rotate(0deg);
	}
	100% {
		-webkit-transform: translate3d(-350px, 700px, 0) rotate(90deg);
	}
}

@-webkit-keyframes falling3 {
	0% {
		-webkit-transform: translate3d(0, 0, 0) rotate(-20deg);
	}
	100% {
		-webkit-transform: translate3d(-230px, 640px, 0) rotate(-70deg);
	}
}

@-webkit-keyframes falling2 {
	0% {
		-webkit-transform: translate3d(0, 0, 0) rotate(90deg);
	}
	100% {
		-webkit-transform: translate3d(-400px, 680px, 0) rotate(0deg);
	}
}

.marquee_wrap {
	white-space: nowrap;
	font-size: calc(8vw);
	display: flex;
	align-items: center;
	width: 100%;
	border: 1px solid black;
	border-width: 1px 0 1px 0;
	position: relative;
	height: 8.5vw;
	padding-left: 30px;
}

@media (min-width: 1024px) {
	.marquee_wrap {
		height: 8vw;
	}
}

.font-mont {
	font-family: 'Montserrat','serif' !important;
}

.marquee_text {
	top: 50%;
	transform: translateY(-50%);
	line-height: 1.2rem;
	font-family: 'Montserrat';
	position: absolute;
	color: #fff;
	text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;
	font-weight: 900;
}

.letter-box {
	position: relative;
}

.letter-box img {
	width: 20px;
	height: 20px;
}

.inner {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 50px 10px;
}

.sec-photo {
	border-top: 1px solid #222;
	padding-top: 80px;
	padding-bottom: 80px;
}

.sec-photo h2 {
	padding-bottom: 5px;
}

.mySwiper2 {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.mySwiper2 .swiper-wrapper {
	width: 100%;
	height: auto;
}

.mySwiper2 .swiper-slide {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mySwiper2 .swiper-slide img {
	width: 100%;
	height: auto;
}

.mySwiper2.active {
	animation: von 1s ease-in-out;
}

.mySwiper {
	margin-top: 5px;
}

.mySwiper .swiper-wrapper {
	transform: none !important;
	width: 100%;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-box;
	display: -webkit-box;
	display: flex;
	justify-content: space-between;
}

.mySwiper .swiper-wrapper .swiper-slide {
	opacity: 0;
	flex: 1 1 auto;
	cursor: pointer;
	position: relative;
	height: 50px;
	overflow: hidden;
}

.mySwiper .swiper-wrapper .swiper-slide img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: auto;
}

.mySwiper .swiper-wrapper .swiper-slide:last-child {
	margin-right: 0 !important;
}

.mySwiper .swiper-wrapper .swiper-slide::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.mySwiper .swiper-wrapper .swiper-slide.swiper-slide-thumb-active::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-top: 4px solid #222;
	border-bottom: 4px solid #222000;
}

.mySwiper .swiper-wrapper .swiper-slide:not(.swiper-slide-thumb-active)::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	z-index: 10;
	opacity: .5;
}

.mySwiper .swiper-wrapper .swiper-slide.img-h img {
	height: 100%;
	width: auto;
}

@media (min-width: 1024px) {
	.mySwiper .swiper-wrapper .swiper-slide {
		height: 70px;
	}
}

.mySwiper.active .slide-1 {
	animation: von 1s 0.1s ease-in-out;
	animation-fill-mode: forwards;
}

.mySwiper.active .slide-2 {
	animation: von 1s 0.2s ease-in-out;
	animation-fill-mode: forwards;
}

.mySwiper.active .slide-3 {
	animation: von 1s 0.3s ease-in-out;
	animation-fill-mode: forwards;
}

.mySwiper.active .slide-4 {
	animation: von 1s 0.4s ease-in-out;
	animation-fill-mode: forwards;
}

.mySwiper.active .slide-5 {
	animation: von 1s 0.5s ease-in-out;
	animation-fill-mode: forwards;
}

.mySwiper.active .slide-6 {
	animation: von 1s 0.6s ease-in-out;
	animation-fill-mode: forwards;
}

.mySwiper.active .slide-7 {
	animation: von 1s 0.7s ease-in-out;
	animation-fill-mode: forwards;
}

.sec-p {
	padding-top: 20vw;
	padding-bottom: 11.5vw;
	text-align: center;
}

.sec-p .sec-pp {
	font-size: 16px;
	line-height: 32px;
	padding: 100px 0 20px;
	font-family: 'Gowun Batang', serif !important;
}

.sec-p .sec-pp.active {
	animation: von 1s ease-in-out;
}

@media (min-width: 1024px) {
	.sec-p .sec-pp {
		padding: 40px 0;
	}
}

.sec-p .sec-pp + .sec-pp {
	padding: 0 0 40px;
}

.sec-p .sign-box {
	opacity: 1;
	padding-bottom: 100px;
}

@keyframes width {
	0% {
		width: 100%;
	}
	100% {
		width: 0;
	}
}

.sec-p .sign-box.ani.active .sign-l::before {
	animation: width 1s 1s ease;
	animation-fill-mode: forwards;
}

.sec-p .sign-box.ani.active .sign-k::before {
	animation: width 1s 2s ease;
	animation-fill-mode: forwards;
}

.sec-p .name-box {
	font-family: 'Gowun Batang', serif !important;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sec-p .name-box p {
	display: inline-block;
	line-height: 50px;
	margin-right: 12px;
}

.sec-p .name-box div[class*='sign'] {
	width: 110px;
	position: relative;
}

.sec-p .name-box div[class*='sign']::before {
	content: '';
	position: absolute;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.sec-p .name-box div[class*='sign'] img {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

.sec-p .name-box .sign-l {
	width: 110px;
}

.sec-p .name-box .sign-k {
	width: 110px;
}

.sec-p .name-box.active {
	animation: von 1s ease;
}

.toast {
	position: fixed;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	display: none;
	color: #fff;
	line-height: 40px;
	padding: 3px 24px 0;
	border-radius: 21px;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.8);
}

.sec-cal {
	border-top: 1px solid #222;
	padding: 80px 20px 0;
}

.sec-cal h2 {
	padding-right: 20px;
	text-align: right;
	margin-bottom: 80px;
	font-weight: 300;
	color: #222;
}

.sec-cal h2 > span {
	display: inline-block;
	font-weight: 600;
	font-size: 50px;
	font-weight: 400;
	font-family: 'Montserrat','serif' !important;
	opacity: 0;
	color: #222;
}

.sec-cal h2 .tl-2 {
	letter-spacing: -1.5px;
}

.sec-cal h2.active .tl-1 {
	animation: von 0.5s 0.2s ease-in-out;
	animation-fill-mode: forwards;
}

.sec-cal h2.active .tl-2 {
	animation: von 0.5s 0.4s ease-in-out;
	animation-fill-mode: forwards;
}

.sec-cal h2.active .tl-3 {
	animation: von 0.5s 0.6s ease-in-out;
	animation-fill-mode: forwards;
}

.sec-cal h2.active .tl-4 {
	animation: von 0.5s 0.8s ease-in-out;
	animation-fill-mode: forwards;
}

.sec-cal h2.active .tl-5 {
	animation: von 0.5s 1s ease-in-out;
	animation-fill-mode: forwards;
}

.sec-cal .cal-box {
	width: 100%;
	position: relative;
	padding-bottom: 80px;
	overflow: hidden;
}

.sec-cal .cal-box .ball {
	opacity: 0;
	position: absolute;
	mix-blend-mode: difference;
	width: 11%;
	height: 11%;
}

.sec-cal .cal-box .ball.active {
	opacity: 0;
	animation: ball 3s .5s ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes ball {
	0% {
		opacity: 0;
		bottom: 100%;
		right: 100%;
	}
	100% {
		opacity: 1;
		bottom: 95px;
		right: 2.2%;
		transform: translateY(-50%);
	}
}

@media (min-width: 1024px) {
	.sec-cal .cal-box .ball.active {
		animation: ball2 3s 1s ease-in-out;
		animation-fill-mode: forwards;
	}
	@keyframes ball2 {
		0% {
			opacity: 0;
			bottom: 100%;
			right: 100%;
		}
		100% {
			opacity: 1;
			bottom: 118px;
			right: 13px;
		}
	}
}

.sec-cal .cal-box img {
	width: 100%;
	padding-bottom: 40px;
}

.sec-cal .cal-box i[class*='bl-'] {
	top: 0;
	position: absolute;
	width: 1px;
	background-color: #222;
}

@media (min-width: 1024px) {
	.sec-cal .cal-box i[class*='bl-'] {
		width: 2px;
	}
}

.sec-cal .cal-box .bl-1 {
	left: 14.1%;
}

.sec-cal .cal-box .bl-2 {
	left: 28.2%;
}

.sec-cal .cal-box .bl-3 {
	left: 42.3%;
}

.sec-cal .cal-box .bl-4 {
	left: 56.4%;
}

.sec-cal .cal-box .bl-5 {
	left: 70.5%;
}

.sec-cal .cal-box .bl-6 {
	left: 84.6%;
}

.sec-cal .cal-box .april {
	position: absolute;
	bottom: 0;
	right: 20px;
	font-size: 40px;
}

.sec-map {
	border-top: 1px solid #222;
	padding-top: 140px;
	padding-bottom: 80px;
}

.sec-map .map-box h2 {
	font-size: 30px;
	line-height: 18px;
	margin-bottom: 40px;
	letter-spacing: -3px;
}

.sec-map .map-box h2 .mini {
	font-size: 14px;
	letter-spacing: 0;
}

.sec-map .map-box .floor {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 40px;
}

.sec-map .map-box strong {
	display: block;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 8px;
	margin-left: -2px;
}

.sec-map .address {
	display: flex;
	align-items: center;
	margin-bottom: 2px;
}

.sec-map .address span {
	margin-right: 5px;
}

.sec-map .map {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: whitesmoke;
}

.sec-map .map .map1 {
	width: 100%;
	height: auto;
	vertical-align: top;
	display: inline-block;
}

.sec-map .map .map2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 0;
	background-color: whitesmoke;
	animation: opacity 2s ease infinite;
}

@keyframes opacity {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.sec-map .link-box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

@media (min-width: 1024px) {
	.sec-map .link-box {
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}

.sec-map .link-box .btn-map {
	padding: 20px 0;
	flex: 0 0 100%;
}

@media (min-width: 1024px) {
	.sec-map .link-box .btn-map {
		flex: 0 0 33%;
	}
}

.sec-map .link-box .btn-map + a {
	margin-top: 2px;
}

@media (min-width: 1024px) {
	.sec-map .link-box .btn-map + a {
		margin-top: 0;
	}
}

.sec-map .link-box .link-naver {
	background: #222 url(../img/map-n.png) no-repeat 50% 50%;
	background-size: auto 26px;
}

.sec-map .link-box .link-kakao {
	background: #222 url(../img/map-k.png) no-repeat 50% 50%;
	background-size: auto 26px;
}

.sec-map .link-box .link-tmap {
	background: #222 url(../img/map-t.png) no-repeat 50% 50%;
	background-size: auto 26px;
}

.sec-map .link-box a {
	display: block;
	height: 26px;
}

.sec-info {
	border-top: 1px solid #222;
}

.sec-info h2 {
	margin-bottom: 20px;
}

.sec-info .b-t {
	font-size: 13px;
	color: #888;
	letter-spacing: 0.5px;
	margin-bottom: 8px;
}

.sec-info .b-box {
	margin-bottom: 40px;
}

/*# sourceMappingURL=blog.css.map */
