// Sprites Map
$sp_wedding: (
	name: 'sp_wedding',
	width: 330px,
	height: 330px,
	image: '../img/sp_wedding.png',
	sprites: (
	emoji1: (
			offset-x: 0px,
			offset-y: 0px,
			width: 160px,
			height: 160px,
		),
		emoji2: (
			offset-x: -170px,
			offset-y: 0px,
			width: 160px,
			height: 160px,
		),
		emoji3: (
			offset-x: 0px,
			offset-y: -170px,
			width: 160px,
			height: 160px,
		),
	)
);